:root{
  /* dark by default */
  --primary: #1E3A8A;
  --secondary: #40E0D0;

  --bg: #10131A;
  --p-text: #9DA8BA;
  --head-text: #F4F7FB;
  --head-text-sec: #E6EAF2;

  --bg-card: #151A24;
  --bg-card-sec: #1B2130;
  --bg-card-ter: #252C3C;
  --border: #2B3446;


  /* general properties */
  --font: max(13px, 1.1vw);
  --gap: max(20px, 2vw);
  --mini-gap: max(10px, .9vw);
  --mega-gap: max(35px, 3.1vw);
  --giga-gap: max(60px, 5.5vw);
  --radius: max(8px, .7vw);
  --min-radius: max(4px, .4vw);
  --max-radius: max(12px, 1vw);
  --full-radius: 50%;
  --transition: all 0.3s ease;


  @media (max-width: 768px) {
    --font: 9px;
    --gap: 9px;
    --mini-gap: 5px;
    --mega-gap: 13px;
    --giga-gap: 17px;
  }


}


[data-theme="dark"] {
    --primary: #8FBC8F;
  --secondary: #1E3A8A;

  --bg: #F8FAFC;
  --p-text: #64748B;
  --head-text: #10131A;
  --head-text-sec: #1E293B;

  --bg-card: #FFFFFF;
  --bg-card-sec: #E2E8F0;
  --bg-card-ter: #F1F5F9;
  --border: #E2E8F0;

  
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font);
  font-family:  "Syne", "Work Sans", sans-serif;
}


html, body{
  background-color: var(--bg);
  color: var(--p-text);
}


/* links  */
a{
  color: var(--head-text);
  font-weight: bold;
  text-decoration: none;
  transition: var(--transition);
}

a:hover{
  color: var(--primary);
}


/* head lines */

h1,h2,h3,h4,h5,h6{
  color: var(--head-text);
  font-weight: bold;
}

h1,h2,h3{
  font-family: "Work Sans", sans-serif;
  line-height: 3.8rem;
}

h1{
  font-size: max(34px, 3.2vw);
  
}
h2{
  font-size: max(30px, 2.8vw);
}
h3{
  font-size: max(26px, 2.4vw);
}
h4{
  font-size: max(18px, 1.6vw);
}
h5{
  font-size: max(14px, 1.4vw);
}
h6{
  font-size: max(10px, 1vw);
}

p, span {
  line-height: 2rem;
}


/* duplicate styles */
.flex-center,
.flex
{
  display: flex;
  gap: var(--radius);
}

.flex-center{
  align-items: center;
}


/* button default styles */
.btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--mini-gap);
  padding: var(--radius) var(--mini-gap);
  min-width: max(120px, 10vw);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  cursor: pointer;
  color: var(--head-text);
  transition: var(--transition);

}

.btn:hover
{
  transform: scale(1.05);
}


/* text - paragraph */


.text-primary
{
    color: var(--primary);
}

.text-secondary
{
    color: var(--secondary);
}