:root{
  /* light by default */
  --primary: #8FBC8F;
  --secondary: #1E3A8A;

  --bg: #F8FAFC;
  --p-text: #64748B;
  --head-text: #10131A;
  --head-text-sec: #1E293B;

  --bg-card: #FFFFFF;
  --bg-card-sec: #E2E8F0;
  --bg-card-ter: #F1F5F9;
  --border: #E2E8F0;


  /* general properties */
  --font: max(14px, 1.2vw);
  --gap: max(20px, 2vw);
  --mini-gap: max(10px, .9vw);
  --mega-gap: max(35px, 3.1vw);
  --giga-gap: max(60px, 5.5vw);
  --transition: all 0.3s ease;


  @media (max-width: 768px) {
    --font: 12px;
    --gap: 12px;
    --mini-gap: 7px;
    --mega-gap: 22px;
    --giga-gap: 37px;
  }


}


[data-theme="dark"] {
  --primary: #1E3A8A;
  --secondary: #40E0D0;

  --bg: #10131A;
  --p-text: #9DA8BA;
  --head-text: #F4F7FB;
  --head-text-sec: #E6EAF2;

  --bg-card: #151A24;
  --bg-card-sec: #1B2130;
  --bg-card-ter: #252C3C;
  --border: #2B3446;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font);
  font-family: "Work Sans", "Syne", sans-serif;
}


html, body{
  background-color: var(--bg);
  color: var(--head-text);
}


/* links  */
a{
  color: var(--primary);
  text-decoration: none;
  transition: var(--transition);
}

a:hover{
  color: var(--secondary);
}


/* head lines */

h1,h2,h3,h4,h5,h6{
  color: var(--head-text);
  font-weight: bold;
}

h1{
  font-size: max(28px, 2.5vw);
}
h2{
  font-size: max(24px, 2.2vw);
}
h3{
  font-size: max(20px, 1.8vw);
}
h4{
  font-size: max(18px, 1.6vw);
}
h5{
  font-size: max(16px, 1.4vw);
}
h6{
  font-size: max(14px, 1.2vw);
}