/* Main layout */
.main-layout{
    display: flex;
    flex-direction: column;
}


/* Footer */

footer.footer{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--mini-gap);
    background-color: var(--header-bg);
    padding: var(--mini-gap) var(--giga-gap);
}

footer .icon-wrapper{
    justify-content: center;
    width: max(27px, 2.5vw);
    height: max(27px, 2.5vw);
    border-radius: var(--full-radius);
    background-color: var(--bg-card);
    cursor: pointer;
}





/* Header */

header.header {
    justify-content: space-between;
    padding: var(--mini-gap) var(--giga-gap);
    height: max(63px, 5.2vw);
    gap: var(--gap);
    box-shadow: 0 2px 4px var(--border);
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: var(--header-bg);
}

.logo-and-title {
    flex: .8;
    cursor: pointer;
}

nav.menu {
    flex: 1.2;
}

.logo-and-title .logo {
    display: flex;
    justify-content: center;
    width: max(35px, 3.1vw);
    height: max(35px, 3.1vw);
    border-radius: var(--min-radius);
    background-color: var(--primary);
}

.logo-and-title .title {
    flex-direction: column;
    gap: .3rem;
}

.title>p {
    text-transform: uppercase;
}

.title>p:hover {
    text-decoration: underline;
}

.menu .menu-hamburger {
    display: none;
    cursor: pointer;
    transition: var(--transition);
}

.menu .menu-hamburger:hover {
    transform: scale(1.2);
}

.menu .menu-options {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap);
}

.menu .nav-menu {
    gap: var(--gap);
}

.nav-menu>li {
    list-style: none;
}

.nav-menu>li>a {
    font-weight: normal;
}

.nav-menu>li>a.active {
    font-weight: bold;
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}


.nav-options .lang span,
.nav-options .theme p {
    font-size: var(--mini-gap);
}

.nav-options .theme,
.nav-options .lang {
    cursor: pointer;
    border-radius: var(--min-radius);
    padding: .3rem .7rem;
    border: 1px solid var(--border);
    transition: var(--transition);
}

.nav-options .theme:hover,
.nav-options .lang:hover {
    transform: scale(1.04);
}

.nav-options .theme {
    background-color: var(--bg-card);

}

.theme>p {
    font-weight: bold;
}

.nav-options .lang {
    background-color: var(--bg-card-ter);
}





/* Main */
main.main{
    margin-top: max(63px, 5.2vw);
    padding: var(--mega-gap) var(--giga-gap);
}


@media (max-width:726px) {

    header.header.open {
        align-items: flex-start;
        height: 220px;

    }

    main.main.open{
        margin-top: 220px;
    }

    .menu .menu-hamburger {
        display: block;
    }

    nav.menu,
    .menu .menu-options,
    .menu-options .nav-menu {
        align-items: flex-end;
        flex-direction: column;
    }

    .menu .menu-options,
    .menu.close .menu-options {
        display: none;
    }

    .menu.open .menu-options {
        display: flex;
    }

    .logo-and-title {
        flex: none;
    }

    nav.menu {
        flex: 1;
    }

    
}

@media (max-width:500px) {
    footer.footer{
        flex-direction: column-reverse;
        align-items: center;
    }

    footer.footer > p {
        text-align: center;
    }
}
@media (max-width:424px) {
    header.open .logo-and-title .title{
        display: none;
    }
}



/* ANIMATIONS */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

